<h1>Add an user</h1>
<hr />
<p>Please, use to form below in order to add an user in our database:</p>

<div style='width: 80%; margin-left: 30px; margin-top: 30px;'>
 <form action="<%= users_path %>" method="POST">  
    <label for="formGroupExampleInput">Username</label>
    <input type="text" name="username" class="form-control" id="formGroupExampleInput" placeholder="Your username...">
    <br /><br />
    <label for="formGroupExampleInput2">Mail address</label>
    <input type="text" name="email" class="form-control" id="formGroupExampleInput2" placeholder="Your email...">
    <br /><br />
    <label for="formGroupExampleInput2">Bio</label>
    <input type="text" name="bio" class="form-control" id="formGroupExampleInput2" placeholder="Your bio...">
     <!-- Voici le input hidden afin de pouvoir dire à rails que c'est sécurisé -->
    <br /><br />
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" class="btn btn-success id="formGroupExampleInput2" placeholder="Another input" value="Add the user">
 </form>
</div>

<hr />

<div style='width: 80%; margin-left: 30px; margin-top: 30px;'>
  <%= form_tag users_path, method: :post do %>
  <div class="form-group">
    <%= label_tag 'Username:' %>
    <%= text_field_tag 'username', '', placeholder: 'Your username...', class: "form-control", id: "formGroupExampleInput2" %>
    <br /><br />
    <%= label_tag 'Email:' %>
    <%= text_field_tag 'email', '', placeholder: 'Your email...', class: "form-control", id: "formGroupExampleInput2" %>
    <br /><br />
    <%= label_tag 'Bio:' %>
    <%= text_field_tag 'bio', '', placeholder: 'Your bio...', class: "form-control", id: "formGroupExampleInput2" %>
    <br /><br />
    <%= submit_tag "Add the user", name: nil, class: "btn btn-success" %>
  </div>
  <% end %>
  </div>

<hr />

<div style='width: 80%; margin-left: 30px; margin-top: 30px;'>
  <%= form_for @user do |f| %>
  <%= label_tag 'Username:' %>
  <%= f.text_field :username, placeholder: 'Your username...', class: "form-control", id: "formGroupExampleInput2" %>
  <br /><br />
  <%= label_tag 'Email:' %>
  <%= f.text_field :email, placeholder: 'Your email...', class: "form-control", id: "formGroupExampleInput2" %>
  <br /><br />
    <%= label_tag 'Bio:' %>
  <%= f.text_area :bio, placeholder: 'Your bio...', class: "form-control", id: "formGroupExampleInput2" %>
  <br /><br />  
  <%= f.submit "Add the user", class: "btn btn-success"  %>
<% end %>

